*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Barlow Condensed";
    src: url();
}
header{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 1rem;
}



































.attribution {
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
